/* 评价自定义弹窗样式 */
.evaluate .h2{
	clear:both;
	float:left;
	width:100%;
	text-align:center;
	font-size:0.8em;
	color:#333333;
	 
	margin-bottom:21px;
}
.evaluate .situation{
	width:90%;
	margin:auto;
}
.evaluate .situation span{
	display:inline-block;
	color:#686d70;
	border-radius:17px;
	width:43%;
	height:28px;
	line-height:28px;
	margin-right:8%;
	margin-bottom:18px;
	font-size:0.8em;
	border:1px solid #c4cdcc;
	 
}
.evaluate .situation .active{
	 color:#fff;
	 border:1px solid #09aeb0;
	 background:#09aeb0;
}
.evaluate textarea{
	 resize: none;
	width:80%;
	height:68px;
	margin:auto;
	margin-bottom:25px;
	background:#f0f0f0;
	font-size:0.8em;
	color:#676c6f;
	padding:10px;
	border-radius:3px;
}
.evaluate .submit{
	display:inline-block;
	width:50%;
	margin:auto;
	margin-bottom:34px;
	height:34px;
	line-height:34px;
	text-align:center;
	font-size:1em;
	color:#fff;
	border-radius:4px;
	background:#09aeb0;
}
#star{
	position:relative;
	width:100%;
	margin:25px 0;
}
#star ul{
	margin:auto;
	overflow:hidden;
	display:inline-block;
}
#star li{
	float:left;
	width:45px;
	height:35px;
	cursor:pointer;
	text-indent:-9999px;
	background-image:url(../images/icoGroup2X.png);
	background-repeat:no-repeat;
	background-size:356px 276px;
	background-position: -115px -242px;
}
#star li.on{
	background-position:-60px -242px;
}
.evamsg{position:absolute;z-index:100;width:200px;height:40px;background:#000;opacity:0.7;border-radius:6px;}
.evamsg p{width:100%;height:40px;line-height: 40px;color:#fff;font-size:1em;text-align:center;}
/* iphone6 Plus */
@media (min-device-width : 414px) and (max-device-width : 736px){
    #star li{
		background-image:url(../images/icoGroup3X.png);
	} 
}