
li {
    list-style: none;
}
@keyframes hideChatArea
   {
   0%   {bottom:0;}
   100%  {bottom:-213px;}
   }
@keyframes showChatArea
   {
   0%   {bottom:-213px;}
   100%  {bottom:0px;}
   }
@-webkit-keyframes hideChatArea
   {
   0%   {bottom:0;}
   100%  {bottom:-213px;}
   }
@-webkit-keyframes showChatArea
   {
   0%   {bottom:-213px;}
   100%  {bottom:0px;}
   }
.chatArea {
    width: 100%;
    position: fixed;
    left: 0;
    bottom:-213px;
    background: #fff;
    z-index: 10;
}
.sendarea {
    position:relative;
    padding: 4px 10px;
    min-height: 37px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    
}
.hideChatArea{
    animation:hideChatArea 0.2s;
    animation-fill-mode : forwards;
    -webkit-animation:hideChatArea 0.2s;
    -webkit-animation-fill-mode : forwards;
}
.showChatArea{
    animation:showChatArea 0.2s;
    animation-fill-mode : forwards;
    -webkit-animation:showChatArea 0.2s;
    -webkit-animation-fill-mode : forwards;
}
.textarea {
    background-color: #ddd;
    line-height: 25px;
    padding: 5px;
    width: 85%;
    border-radius: 4px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    max-height: 120px;
    min-height: 25px;
    overflow: auto;
}
.sendBtn {
    display: none;
    background-color: #09aeb0;
    width: 18%;
    height: 34px;
    line-height: 34px;
    margin-left: 1%;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.add,.addhover,.qqFaceTip,.qqFaceTiphover,.keyboard,.addList .uploadImgbg,.addList .artificialbg,.addList .satisfactionbg,.addList .leaveMessagebg{
    background-image: url(../images/icoGroup2X.png);
    background-repeat:no-repeat;
    background-size:356px 276px;
}
.add {
    height: 32px;
    width: 32px;
    margin-left: 2%;
    background-position:-96px 2px;
}
.addhover {
    display:none;
    height: 32px;
    width: 32px;
    margin-left: 2%;
    background-position:-144px 2px;
}
.qqFaceTip {
    display:none;
    height: 32px;
    width: 32px;
    margin-left:2%;
    background-position:0px 2px;
}
.qqFaceTiphover{
    display:none;
    height: 32px;
    width: 32px;
    margin-left:2%;
    background-position:-48px 2px;
}
/* .keyboard {
    display:none;
    height: 35px;
    width: 35px;
    text-align: center;
    margin:0 1% 0 2%;
    color: #878787;
    background-image: url(../images/icoGroup3X.png);
    background-position:-142px -3px;
    background-size: 273px 240px;
} */
.chatAdd {
    overflow: hidden;
    width: 100%;
    height: 212px;
    background:#fafcfb;
}
.addList{
    width:100%;
}
.addList li {
    overflow:hidden;
    float: left;
    position:relative;
    width:70px;
    margin:16px;
}
.addList .uploadImg{
    display:none;
}
.addList .uploadImg input{
    position:absolute;
    left:0;
    top:0;
    width:70px;
    height:70px;
    opacity:0
}
.addList .artificial{
}
.addList .satisfaction{
}
.addList .leaveMessage{
}
.addList i{
    display:inline-block;
    width:100%;
    height:63px;
}
.addList p{
    width:100%;
    text-align:center;
    color:#859191;
    font-size:0.8em;
}
.addList .uploadImgbg{
    background-position:-142px -44px;
}
.addList .artificialbg{
    background-position: 7px -44px;
}
.addList .satisfactionbg{
    background-position:8px -120px;
}
.addList .leaveMessagebg{
    background-position: -151px -118px;
}

.showChatAdd {/* display:block; */
}
.tab-active{
    display:none;
}
.sendarea .placeholder{
    position:absolute;
    left:23px;
    top:13px;
    color:#999;
    font-size:15px;
}
.endSession{
    display:none;
    width:100%;
    overflow:hidden;
    border-top:1px solid #ced7d6;
}
.endSession span{
    display:inline-block;
    float:left;
    width:29%;
    margin:2%;
    border-radius:10px;
    text-align:center;
}
.endSession span:hover{
    background-color:#edf1f2;
}
.endSession span i{
    display:inline-block;
    height:24px;
    width:53%;
    background-image: url(../images/endEssion2X.png);
    background-size:300px 39px;
    background-repeat:no-repeat;
}
.endSession span p{
    width:100%;
    font-size:0.3rem;
    color:#7c8687;
    padding-bottom:2%;
    text-align:center;
}
.endSession .span1 i{
     background-position: -26px -7px;
}
.endSession .span2 i{
     background-position: center -7px;
}
.endSession .span3 i{
     background-position: -226px -7px;
}
/* iphone6 */
@media (min-device-width : 375px){
    .endSession span i{
         width:44%;
    }
}
/* iphone6 Plus */
@media (min-device-width : 414px) and (max-device-width : 736px){
    .add,.addhover,.qqFaceTip,.qqFaceTiphover,.keyboard,.addList .uploadImgbg,.addList .artificialbg,.addList .satisfactionbg,.addList .leaveMessagebg{
        background-image: url(../images/icoGroup3X.png);
        background-size:356px 275px;
    }
    .endSession span i{
        width:40%;
    }
}
/* iphone6puls橫屏 */
@media (min-device-width : 736px){
    .endSession span i{
        width:23%;
    }
}