
li {
    list-style: none; 
}
@keyframes hideChatArea
   {
   0%   {bottom:0;}
   100%  {bottom:-213px;}
   }
@keyframes showChatArea
   {
   0%   {bottom:-213px;}
   100%  {bottom:0px;}
   }
@-webkit-keyframes hideChatArea
   {
   0%   {bottom:0;}
   100%  {bottom:-213px;}
   }
@-webkit-keyframes showChatArea
   {
   0%   {bottom:-213px;}
   100%  {bottom:0px;}
   }
.chatArea {
    width: 100%;
    position: fixed;
    left: 0;
    bottom:-213px;
    background: #fff;
    z-index: 10;
}
.sendarea {
    position:relative;
    padding: 6px 10px;
    min-height: 35px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}
.hideChatArea{
    animation:hideChatArea 0.2s;
    animation-fill-mode : forwards;
    -webkit-animation:hideChatArea 0.2s;
    -webkit-animation-fill-mode : forwards;
}
.showChatArea{
    animation:showChatArea 0.2s;
    animation-fill-mode : forwards;
    -webkit-animation:showChatArea 0.2s;
    -webkit-animation-fill-mode : forwards;
}
.textarea {
    float:left;
    background-color: #ddd;
    line-height: 19px;
    padding: 7px 5px;
    border-radius: 4px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    max-height: 120px;
    min-height: 20px;
    overflow: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.textarea[placeholder]:empty:before {
    content: attr(placeholder);
    color: #999;
}
.sendBtn {
    display: inline-block;
    float: left;
    background-color: #09aeb0;
    width: 55px;
    height: 34px;
    line-height: 34px;
    margin-left: 5px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-right: -4px;
}
.add,.addhover,.qqFaceTip,.qqFaceTiphover,.keyboard,.addList .uploadImgbg,.artificial,.addList .satisfactionbg,.addList .leaveMessagebg{
    background-image: url(../images/icoGroup2X.png);
    background-repeat:no-repeat;
    background-size:356px 276px;
}
.artificial {
    display:inline-block;
    height: 32px;
    width: 45px;
    margin-left:-9px;
    background-position:-5px -61px;
}
.add {
    display:inline-block;
    height: 32px;
    width: 45px;
    margin-right:-13px;
    background-position:-89px 2px;
}
.addhover {
    display:inline-block;
    height: 32px;
    width: 45px;
    margin-right:-13px;
    background-position:-137px 2px;
}
.qqFaceTip {
    display:inline-block;
    height: 32px;
    width: 36px;
    background-position:7px 2px;
}
.qqFaceTiphover{
    display:inline-block;
    height: 32px;
    width: 36px;
    background-position:-41px 2px;
}
.chatArea .activehide{
    display:none;
}
/* .keyboard {
    display:none;
    height: 35px;
    width: 35px;
    text-align: center;
    margin:0 1% 0 2%;
    color: #878787;
    background-image: url(../images/icoGroup3X.png);
    background-position:-142px -3px;
    background-size: 273px 240px;
} */
.chatAdd {
    overflow: hidden;
    width: 100%;
    height: 212px;
    background:#fafcfb;
}
.addList{
    width:100%;
}
.addList li {
    overflow:hidden;
    float: left;
    position:relative;
    width:70px;
    margin:16px;
}
.addList .uploadImg{
    display:none;
}
.addList .uploadImg input{
    position:absolute;
    left:0;
    top:0;
    width:70px;
    height:70px;
    opacity:0
}
.addList .artificial{
}
.addList .satisfaction{
}
.addList .leaveMessage{
}
.addList i{
    display:inline-block;
    width:100%;
    height:63px;
}
.addList p{
    width:100%;
    text-align:center;
    color:#859191;
    font-size:0.8em;
}
.addList .uploadImgbg{
    background-position:-142px -44px;
}
.addList .uploadImgbg:hover{
    background-position:-217px -44px;
}
/* .addList .artificialbg{
    background-position: 7px -44px;
}
.addList .artificialbg:hover{
    background-position: -67px -44px;
} */
.addList .satisfactionbg{
    background-position:8px -120px;
}
.addList .satisfactionbg:hover{
    background-position:-67px -120px;
}
.addList .leaveMessagebg{
    background-position: -142px -118px;
}
.addList .leaveMessagebg:hover{
    background-position: -218px -118px;
}
.showChatAdd {/* display:block; */
}
.tab-active{
    display:none;
}
.layer-opacity0{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0);
    z-index:15;
}
.sendarea .placeholder{
    position:absolute;
    left:23px;
    top:13px;
    color:#999;
    font-size:15px;
}
.endSession{
    display:none;
    width:100%;
    overflow:hidden;
    border-top:1px solid #ced7d6;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.endSession span{
    display:inline-block;
    float:left;
   /*  width:29%; */
    margin:2%;
    border-radius:10px;
    text-align:center;
    box-sizing: border-box;
}
.endSession span:hover{
    background-color:#edf1f2;
}
.endSession span i{
    display:inline-block;
    height:24px;
    width:26px;
    margin:auto;
    background-image: url(../images/endEssion2X.png);
    background-size:300px 39px;
    background-repeat:no-repeat;
}
.endSession span p{
    width:100%;
    font-size:0.9rem;
    color:#7c8687;
    padding-bottom:2%;
    text-align:center;
}

.endSession .span1{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.endSession .span2{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.endSession .span3{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.endSession .span1 i{
     background-position: -37px -7px;
}
.endSession .span2 i{
     background-position: center -7px;
}
.endSession .span3 i{
     background-position: -237px -7px;
}
/* @media (min-device-width : 320px){
    .endSession span i{
         width:51%;
    }

@media (min-device-width : 360px){
    .endSession span i{
         width:44%;
    }
}
iphone6
@media (min-device-width : 375px){
    .endSession span i{
         width:44%;
    }
} */
/* iphone6 Plus */
@media (min-device-width : 414px){
    .add,.addhover,.qqFaceTip,.qqFaceTiphover,.keyboard,.addList .uploadImgbg,.artificial,.addList .satisfactionbg,.addList .leaveMessagebg{
        background-image: url(../images/icoGroup3X.png);
        background-size:356px 275px;
    }
    /* .endSession span i{
        width:40%;
    } */
}
/* @media (min-device-width : 480px){
    .endSession span i{
         width:36%;
    }
}


@media (min-device-width : 640px){
    .endSession span i{
        width:24%;
    }
}
iphone6puls橫屏
@media (min-device-width : 736px){
    .endSession span i{
        width:23%;
    }
}

@media (min-device-width : 1280px){
    .endSession span i{
        width:13%;
    }
}

@media (min-device-width : 1600px){
    .endSession span i{
        width:11%;
    }
} */