
li {
    list-style: none; 
}
@keyframes hideChatArea
   {
   0%   {bottom:0;}
   100%  {bottom:-213px;}
   }
@keyframes showChatArea
   {
   0%   {bottom:-213px;}
   100%  {bottom:0px;}
   }
@-webkit-keyframes hideChatArea
   {
   0%   {bottom:0;}
   100%  {bottom:-213px;}
   }
@-webkit-keyframes showChatArea
   {
   0%   {bottom:-213px;}
   100%  {bottom:0px;}
   }
.chatArea {
    width: 100%;
    position: fixed;
    left: 0;
    -webkit-user-select:auto   !important;
    bottom:0px;
    background: #fafbfd;
    z-index: 10;
}
.sendarea {
    position:relative;
    padding: 6px 10px;
    min-height: 35px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-top: 1px solid #c4cccc;
    border-bottom: 1px solid #c4cccc;
        background: #fafcfb;
}
.hideChatArea{
    animation:hideChatArea 0.2s;
    animation-fill-mode : forwards;
    -webkit-animation:hideChatArea 0.2s;
    -webkit-animation-fill-mode : forwards;
}
.showChatArea{
    animation:showChatArea 0.2s;
    animation-fill-mode : forwards;
    -webkit-animation:showChatArea 0.2s;
    -webkit-animation-fill-mode : forwards;
}
.textarea {
    background-color: #fff;
    line-height: 19px;
    padding: 7px 5px;
    border-radius: 4px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    max-height: 120px;
    min-height: 20px;
    overflow: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    border:1px solid #c4cccc;
}
.textarea[placeholder]:empty:before {
    content: attr(placeholder);
    color: #c8cccc;
}
.sendBtn {
    display: inline-block;
   /*  float: left; */
    width: 41px;
    height: 34px;
    line-height: 34px;
    margin-left: 5px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-right: -4px;
}
.add,.addhover,.qqFaceTip,.qqFaceTiphover,.keyboard,.addList .uploadImgbg,.artificial,.addList .satisfactionbg,.addList .leaveMessagebg{
    background-image: url(../images/icoGroup2X.png);
    background-repeat:no-repeat;
    background-size:356px 276px;
}
.artificial {
    display:inline-block;
    height: 32px;
    width: 45px;
    margin-left:-9px;
    background-position:-5px -61px;
}
.add {
    display:block;
    height: 34px;
    width: 32px;
    margin:0 0px 0 10px;
    background-position:-94px 2px;
}
.addhover {
   /*  display:inline-block;
   height: 32px;
   width: 45px;
   margin-right:-13px; */
    background-position:-142px 2px;
}
.qqFaceTip {
    display:block;
    height: 34px;
    width: 32px;
    margin:0 4px 0 10px;
    background-position:2px 2px;
}
.qqFaceTiphover{
   /*  display:inline-block;
   height: 32px;
   width: 36px; */
    background-position:-46px 2px;
}
.chatArea .activehide{
    display:none;
}
/* .keyboard {
    display:none;
    height: 35px;
    width: 35px;
    text-align: center;
    margin:0 1% 0 2%;
    color: #878787;
    background-image: url(../images/icoGroup3X.png);
    background-position:-142px -3px;
    background-size: 273px 240px;
} */
.chatAdd {
    overflow: hidden;
    width: 100%;
    height: 212px;
    background:#fafcfb;
}
.addList{
    width:100%;
}
.addList li {
    overflow:hidden;
    float: left;
    position:relative;
    width:70px;
}
.addList .uploadImg{
    /* display:none; */
}
.addList .uploadImg input{
    position:absolute;
    left:0;
    top:0;
    width:70px;
    height:70px;
    opacity:0
}
.addList .artificial{
}
.addList .satisfaction{
}
.addList .leaveMessage{
}
.addList i{
    display:inline-block;
    width:100%;
    height:63px;
}
.addList p{
    width:100%;
    text-align:center;
    color:#859191;
    font-size:0.8em;
}
.addList .uploadImgbg{
    background-position:-142px -44px;
}
.addList .uploadImgbgHover{
    background-position:-217px -44px;
}
/* .addList .artificialbg{
    background-position: 7px -44px;
}
.addList .artificialbg:hover{
    background-position: -67px -44px;
} */
.addList .satisfactionbg{
    background-position:8px -120px;
}
.addList .satisfactionbgHover{
    background-position:-67px -120px;
}
.addList .leaveMessagebg{
    background-position: -142px -120px;
}
.addList .leaveMessagebgHover{
    background-position: -218px -120px;
}
.showChatAdd {/* display:block; */
}
.tab-active{
    display:none;
}
.layer-opacity0{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0);
    z-index:15;
}
.sendarea .placeholder{
    position:absolute;
    left:23px;
    top:13px;
    color:#999;
    font-size:15px;
}
.endSession{
    display:none;
    width:100%;
    /* overflow:hidden; */
    border-top:1px solid #ced7d6;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.endSession span{
    display:inline-block;
    /* float:left;  */
    /* width:29%;  */
    margin:2%;
    border-radius:10px;
    text-align:center;
    box-sizing: border-box;
}
.endSession span:hover{
    background-color:#edf1f2;
}
.endSession span i{
    display:inline-block;
    height:24px;
    width:26px;
    margin:auto;
    background-image: url(../images/endEssion2X.png);
    background-size:300px 39px;
    background-repeat:no-repeat;
}
.endSession span p{
    width:100%;
    font-size:0.9rem;
    color:#7c8687;
    padding-bottom:2%;
    text-align:center;
}

.endSession .span1{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.endSession .span2{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.endSession .span3{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.endSession .span1 i{
     background-position: -37px -7px;
}
.endSession .span2 i{
     background-position: center -7px;
}
.endSession .span3 i{
     background-position: -237px -7px;
}
.allScreen{width:100%;height:100%;background:rgba(0,0,0,0);position:absolute;left:0;top:0;z-index:1000;}
.loadingUploadImg{position:absolute;z-index:100;width:120px;height:120px;border-radius:8px;background:rgba(0,0,0,0.5)}
.loadingUploadImg i{display:inline-block;width:30px;height:30px;margin:36px 46px 21px 46px;background:url(../images/watingUploadImg.gif) no-repeat;background-size:30px 30px;}
.loadingUploadImg p{color:#fff;font-size:12px;width:100%;text-align:center;}
/*iphone4/iphone5*/
 @media (min-device-width : 320px){
 .addList{margin:0 10px;}
 .addList li{margin:16px 2px}  
}
@media (min-device-width : 360px){
  .addList{margin:0 10px;}
  .addList li{margin:20px 7px} 
}
/* iphone6 */
@media (min-device-width : 375px){
  .addList{margin:0 10px;}
  .addList li{margin:23px 9px} 
} 
/* iphone6 Plus */
@media (min-device-width : 414px){
    .add,.addhover,.qqFaceTip,.qqFaceTiphover,.keyboard,.addList .uploadImgbg,.artificial,.addList .satisfactionbg,.addList .leaveMessagebg{
        background-image: url(../images/icoGroup3X.png);
        background-size:356px 275px;
    }
    .addList{margin:0 13px;}
    .addList li{margin:30px 13px} 
   
}
 @media (min-device-width : 480px){
}


@media (min-device-width : 640px){
}
/* iphone6puls橫屏 */
@media (min-device-width : 736px){
}

@media (min-device-width : 1280px){
}

@media (min-device-width : 1600px){
}